In [6]:
import numpy as np
import pandas as pd

import copy

In [2]:
df = pd.read_csv(r"D:\Projects\plot_recommendition\data\pune\Flats\houses.csv")
df.sample(5)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
1017,4 Bedroom House for sale in Nirvana Country,https://www.99acres.com/4-bhk-bedroom-independ...,Unitech Espace,7.45 Crore,"₹ 34,491/sq.ft.",(201 sq.m.) Plot Area,Plot area 240(200.67 sq.m.)Built Up area: 4500...,4 Bedrooms,4 Bathrooms,3 Balconies,...,"240 Sq.Yds Duplex Villa, Nirvana Country, Gurg...",3 Floors,NaN,10+ Year Old,"['Radhakrishna Shani Mandir', 'Sri Radhe Krish...","240 sq.Yds old built duplex villa on sale, at ...","['4 Wardrobe', '8 Fan', '1 Exhaust Fan', '15 L...","['Private Garden / Terrace', 'Maintenance Staf...","['Environment5 out of 5', 'Safety5 out of 5', ...",J69166182
948,4 Bedroom House for sale in Sector 46 Gurgaon,https://www.99acres.com/4-bhk-bedroom-independ...,RWA Sector 46,3.5 Crore,"₹ 21,605/sq.ft.",(151 sq.m.) Plot Area,Plot area 180(150.5 sq.m.),4 Bedrooms,4 Bathrooms,2 Balconies,...,"Sector 46 Gurgaon, Gurgaon, Haryana",2 Floors,South-East,1 to 5 Year Old,"['Axis bank ATM', 'State bank of india ATM', '...",4bhk independent house is for sale in gurgaon ...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['High Ceiling Height', 'Water Storage', 'Park...","['Environment4 out of 5', 'Safety4 out of 5', ...",A70159984
482,2 Bedroom House for sale in Sohna,https://www.99acres.com/2-bhk-bedroom-independ...,NaN,1.55 Crore,"₹ 14,720/sq.ft.",(98 sq.m.) Plot Area,Plot area 117(97.83 sq.m.),2 Bedrooms,3 Bathrooms,2 Balconies,...,"Sohna, Gurgaon, Haryana",1 Floors,North,Within 3 months,NaN,"Check out this 2 bhk house for sale in sohna, ...","['6 Fan', '3 Geyser', '50 Light', '3 AC', '1 C...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5...",P68085692
484,5 Bedroom House for sale in Sector 11 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,4 Crore,"₹ 19,753/sq.ft.",(188 sq.m.) Built-up Area,Built Up area: 225 (188.13 sq.m.)Carpet area: ...,5 Bedrooms,4 Bathrooms,1 Balcony,...,"Sector 11, Sector 11 Gurgaon, Gurgaon, Haryana",2 Floors,North-East,undefined,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","4 bath, furnished, overlooking garden/park, ma...","['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'N...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",U68068324
961,6 Bedroom House for sale in Sector 56 Gurgaon,https://www.99acres.com/6-bhk-bedroom-independ...,Ansal Sushant Lok 2,3.4 Crore,"₹ 22,222/sq.ft.",(142 sq.m.) Plot Area,Plot area 170(142.14 sq.m.),6 Bedrooms,6 Bathrooms,3+ Balconies,...,"Sector 56 Gurgaon, Gurgaon, Haryana",2 Floors,West,5 to 10 Year Old,"['Sector metro station', 'Sector metro station...",Wishing to settle down in an individual house ...,"['6 Wardrobe', '1 Water Purifier', '12 Fan', '...","['Water Storage', 'Park', 'Visitor Parking', '...","['Environment4 out of 5', 'Safety4 out of 5', ...",U69735660

In [3]:
# shape
df.shape

(1044, 21)

In [4]:
# info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1044 entries, 0 to 1043
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    1044 non-null   object
 1   link             1044 non-null   object
 2   society          453 non-null    object
 3   price            968 non-null    object
 4   rate             1005 non-null   object
 5   area             1044 non-null   object
 6   areaWithType     987 non-null    object
 7   bedRoom          987 non-null    object
 8   bathroom         987 non-null    object
 9   balcony          987 non-null    object
 10  additionalRoom   589 non-null    object
 11  address          1031 non-null   object
 12  noOfFloor        967 non-null    object
 13  facing           674 non-null    object
 14  agePossession    987 non-null    object
 15  nearbyLocations  913 non-null    object
 16  description      1036 non-null   object
 17  furnishDetails   743 non-null    object
 18  features         674 non-null    object
 19  rating           907 non-null    object
 20  property_id      1036 non-null   object
dtypes: object(21)
memory usage: 171.4+ KB

In [5]:
# check for duplicates
df.duplicated().sum()

np.int64(13)

In [7]:
df_copy = copy.deepcopy(df)
df_copy.sample(2)

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
656,3 Bedroom House for sale in Sector 40 Gurgaon,https://www.99acres.com/3-bhk-bedroom-independ...,NaN,2.15 Crore,"₹ 23,889/sq.ft.",(84 sq.m.) Plot Area,Plot area 100(83.61 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,...,"Sector 40 Gurgaon, Gurgaon, Haryana",3 Floors,NaN,5 to 10 Year Old,"['Huda city centre metro station', 'Axis bank ...",Its just behind ryan international school and ...,"['4 Wardrobe', '5 Fan', '4 Geyser', '2 Light',...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle4 out of 5...",Z67028886
569,5 Bedroom House for sale in Sector 86 Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,SS Omnia,42 Lac,"₹ 84,000/sq.ft.",(5 sq.m.) Plot Area,Plot area 50(4.65 sq.m.),5 Bedrooms,3 Bathrooms,2 Balconies,...,"Sector 86 Gurgaon, Gurgaon, Haryana",3 Floors,NaN,1 to 5 Year Old,"['Orris Community Center', 'Essar Petrol Pump'...",Looking for buyer to purchase our house/villa ...,[],NaN,"['Environment5 out of 5', 'Lifestyle5 out of 5...",Y62955100

In [8]:
df_copy = df_copy.drop_duplicates()

In [9]:
df_copy.shape

(1031, 21)

In [10]:
# check for missing values
df_copy.isnull().sum()

property_name        0
link                 0
society            586
price               76
rate                39
area                 0
areaWithType        57
bedRoom             57
bathroom            57
balcony             57
additionalRoom     453
address             13
noOfFloor           76
facing             369
agePossession       57
nearbyLocations    131
description          8
furnishDetails     299
features           369
rating             137
property_id          8
dtype: int64

In [11]:
# Columns to drop -> property_name, link, property_id
df_copy.drop(columns=['link','property_id'], inplace=True)

In [12]:
df_copy.head()

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [13]:
# rename columns
df_copy.rename(columns={'rate':'price_per_sqft'},inplace=True)
df_copy.sample()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
953,3 Bedroom House for sale in Sector 82 Gurgaon,Vatika Independent Floors3.8 ★,1.4 Crore,"₹ 8,235/sq.ft.",(158 sq.m.) Plot Area,Plot area 1700(157.94 sq.m.),3 Bedrooms,3 Bathrooms,2 Balconies,Pooja Room,"N-24, Sector 82 Gurgaon, Gurgaon, Haryana",3 Floors,North-West,0 to 1 Year Old,"['Sapphire 83 Mall', 'Delhi Jaipur Expressway'...","Vatika independent floors in sector-84, gurgao...","['5 Fan', '1 Exhaust Fan', '12 Light', '1 Curt...","['Security / Fire Alarm', 'High Ceiling Height...","['Environment4 out of 5', 'Safety4 out of 5', ..."

In [14]:
# society
df_copy['society'].value_counts()

society
International City by SOBHA Phase 2    26
Emaar MGF Marbella                     26
Vipul Tatvam Villa                     24
International City by Sobha Phase 1    23
Unitech Uniworld Resorts               13
                                       ..
Jacobpura                               1
Indiabulls Centrum Park3.7 ★            1
Madan puri                              1
Signature Global Park4.0 ★              1
ROW HOUSE                               1
Name: count, Length: 185, dtype: int64

In [15]:
df_copy['society'].value_counts().shape

(185,)

In [16]:
import re
df_copy['society'] = df_copy['society'].apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [17]:
df_copy['society'].value_counts().shape

(183,)

In [18]:
df_copy['society'] = df_copy['society'].str.replace('nan','independent')

In [19]:
# price
df_copy['price'].value_counts()

price
3.5 Crore     19
5.5 Crore     17
6.5 Crore     16
6 Crore       14
5 Crore       13
              ..
8.8 Crore      1
1.34 Crore     1
46 Lac         1
2.6 Crore      1
2.98 Crore     1
Name: count, Length: 302, dtype: int64

In [20]:
df_copy = df_copy[df_copy['price'] != 'Price on Request']

In [21]:
def treat_price(x):
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100,2)
        else:
            return round(float(x[0]),2)

In [22]:
df_copy['price'] = df_copy['price'].str.split(' ').apply(treat_price)

In [23]:
df_copy.head()

,property_name,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,bptp visionnaire,5.25,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,independent,5.70,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,independent,2.10,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,independent,5.00,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,independent,3.00,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [24]:
# price_per_sqft
df_copy['price_per_sqft'].value_counts()

price_per_sqft
₹ 22,222/sq.ft.    14
₹ 11,111/sq.ft.    11
₹ 33,333/sq.ft.    11
₹ 10,000/sq.ft.    10
₹ 26,667/sq.ft.     6
                   ..
₹ 151/sq.ft.        1
₹ 25,103/sq.ft.     1
₹ 14,954/sq.ft.     1
₹ 8,784/sq.ft.      1
₹ 33,129/sq.ft.     1
Name: count, Length: 752, dtype: int64

In [25]:
df_copy['price_per_sqft'] = df_copy['price_per_sqft'].str.split('/').str.get(0).str.replace('₹','').str.replace(',','').str.strip().astype('float')

In [26]:
df_copy = df_copy[~df_copy['bedRoom'].isnull()]

In [27]:
df_copy['bedRoom'] = df_copy['bedRoom'].str.split(' ').str.get(0).astype('int')

In [28]:
df_copy['bathroom'] = df_copy['bathroom'].str.split(' ').str.get(0).astype('int')

In [29]:
df_copy['balcony'] = df_copy['balcony'].str.split(' ').str.get(0).str.replace('No','0')

In [30]:
df_copy['additionalRoom'].fillna('not available',inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17332\331398960.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['additionalRoom'].fillna('not available',inplace=True)

In [31]:
df_copy['additionalRoom'] = df_copy['additionalRoom'].str.lower()

In [32]:
# floors
df_copy['noOfFloor'].value_counts()

noOfFloor
3 Floors     304
2 Floors     288
1 Floors     181
4 Floors     136
5 Floors       9
0 Floors       6
14 Floors      3
6 Floors       3
11 Floors      2
12 Floors      2
10 Floors      2
16 Floors      1
51 Floors      1
41 Floors      1
27 Floors      1
20 Floors      1
13 Floors      1
21 Floors      1
02 Floors      1
33 Floors      1
Name: count, dtype: int64

In [33]:
df_copy['noOfFloor'].isnull().sum()

np.int64(19)

In [34]:
df_copy['noOfFloor'] = df_copy['noOfFloor'].str.split(' ').str.get(0)

In [35]:
df_copy['facing'].fillna('NA',inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_17332\492954701.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['facing'].fillna('NA',inplace=True)

In [36]:
df_copy['area'] = round((df_copy['price']*10000000)/df_copy['price_per_sqft'])

In [37]:
df_copy.insert(loc=1,column='property_type',value='house')

In [38]:
df_copy.sample(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
29,5 Bedroom House for sale in Nirvana Country,house,independent,10.56,32593.0,3240.0,Plot area 360(301.01 sq.m.),5,5,3,servant room,"Nirvana Country, Gurgaon, Haryana",3,NA,5 to 10 Year Old,"['Radhakrishna Shani Mandir', 'Standard charte...",Urgent for sale\nOn main wide road\nConfirm de...,NaN,"['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
511,2 Bedroom House for sale in Sohna Road,house,independent,0.50,5555.0,900.0,Plot area 900(83.61 sq.m.),2,1,2,not available,"Sohna Road, Gurgaon, Haryana",1,NA,5 to 10 Year Old,"['Rajiv Chowk Mosque', 'Standard chartered ATM...",I am looking for buyer to purchase house/villa...,[],NaN,NaN

In [39]:
df_copy.shape

(964, 20)

In [40]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 964 entries, 0 to 1043
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    964 non-null    object
 1   property_type    964 non-null    object
 2   society          964 non-null    object
 3   price            945 non-null    float64
 4   price_per_sqft   945 non-null    float64
 5   area             945 non-null    float64
 6   areaWithType     964 non-null    object
 7   bedRoom          964 non-null    int64
 8   bathroom         964 non-null    int64
 9   balcony          964 non-null    object
 10  additionalRoom   964 non-null    object
 11  address          959 non-null    object
 12  noOfFloor        945 non-null    object
 13  facing           964 non-null    object
 14  agePossession    964 non-null    object
 15  nearbyLocations  848 non-null    object
 16  description      964 non-null    object
 17  furnishDetails   729 non-null    object
 18  features         662 non-null    object
 19  rating           843 non-null    object
dtypes: float64(3), int64(2), object(15)
memory usage: 158.2+ KB

In [41]:
df_copy.to_csv('house_cleaned.csv',index=False)